/Teste/nbproject/private/
/Teste/build/
/JM2016_AulaProg2/nbproject/private/
/AulaProg2/build/
/AulaProg2/nbproject/private/
/JM2016_PooCev/nbproject/private/
/JM2016_PooCev/build/
/ExercProg2/nbproject/private/
/ExercProg2/build/
/ExercFundEstatistica/nbproject/private/
/ExercFundEstatistica/build/
/EscrevendoEmTxt/nbproject/private/
/EscrevendoEmTxt/build/
/ExerciciosDaAula/nbproject/private/
/ExerciciosDaAula/build/
/ExerPooCev/nbproject/private/
/ExerPooCev/build/
/PriProjetoFX/nbproject/private/
/PriProjetoFX/build/
/PriProjetoFX/dist/
/Programa1/nbproject/private/
/Programa1/build/
/ExerciciosLoops/nbproject/private/
/ExerciciosLoops/build/
/AulaProg2Sem/nbproject/private/
/AulaProg2Sem/build/